<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stage1</key>
	<dict>
		<key>100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>1100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>2100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>3100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>4100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>5100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>6100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>7100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>8100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>9100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>10100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>11100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>12100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>13100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>14100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>15100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>16100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>17100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>18100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>19100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>20100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>21100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>22100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>23100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>24100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>25100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>26100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>27100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>28100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>29100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>30100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>31100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>32100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>33100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>34100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>35100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>36100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>37100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>38100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>39100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>40100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>41100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>42100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>43100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>44100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>45100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>46100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>47100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>48100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>49100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>50100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>51100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>52100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>53100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>54100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>55100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>56100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>57100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>58100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>59100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>60100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>61100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>62100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>63100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>64100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>65100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>66100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>67100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>68101</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>69100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>70100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>bonusA</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>30</string>
			</dict>
		</dict>
		<key>0</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>908</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>1816</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>2724</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>3632</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>4540</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>5448</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>6356</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>7264</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>8172</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>9080</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>9988</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>10896</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>11804</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>12712</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>13620</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>14528</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>15436</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>16344</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>17252</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>18160</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>19068</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>19976</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>20884</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>21792</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>22700</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>23608</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>24516</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>25424</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>26332</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>27240</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>28148</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>29056</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>29964</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>30872</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>31780</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>32688</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>33596</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>34504</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>35412</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>36320</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>37228</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>38136</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>39044</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>39952</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>40860</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>41768</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>42676</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>43584</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>44492</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>45400</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>46308</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>47216</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>48124</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>49032</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>49940</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>50848</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>51756</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>52664</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>53572</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>54480</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>55388</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>56296</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>57204</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>58112</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>59020</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>59928</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>60836</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>61744</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>62652</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>63560</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>64468</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>65376</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>66284</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>67192</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>68100</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>69008</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>69916</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>70824</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>71732</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>72640</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>73548</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>74456</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>75364</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>76272</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>77180</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>78088</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>78996</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>79904</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>80812</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>81720</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>82628</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>83536</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>84444</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>85352</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>86260</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>87168</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>88076</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>88984</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>89892</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>90800</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>91708</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>92616</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>93524</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>94432</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>95340</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>96248</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>97156</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>98064</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>98972</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>99880</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
		<key>100788</key>
		<dict>
			<key>0</key>
			<dict>
				<key>name</key>
				<string>field</string>
				<key>x</key>
				<string>336</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
